.box{
    background-color: rgb(199, 149, 149);
    width: 100px;
    height: 100px;
}

.mother1{
    display: flex;
    justify-content: space-between
}
.mother2{
    display: flex;
    
}

.margin-box{
    margin-right: 5px;
}